<div class="edge-space mat-elevation-z8">

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Search by description</mat-label>
        <input #filterInput matInput placeholder="Ex. SQL" value="" (change)="filterRows(filterInput.value)">
        <mat-icon aria-hidden="false" matSuffix aria-label="Example home icon" fontIcon="search" (click)="filterRows(filterInput.value)" ></mat-icon>
    </mat-form-field>
    
    <table mat-table [dataSource]="workOrdersSource">

        <ng-container matColumnDef="wo_id">
        <th mat-header-cell *matHeaderCellDef> WO ID </th>
        <td mat-cell *matCellDef="let element"> {{element.work_order_id}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="received_date">
        <th mat-header-cell *matHeaderCellDef> Received date </th>
        <td mat-cell *matCellDef="let element"> {{element.received_date}} </td>
        </ng-container>
    
        <ng-container matColumnDef="assigned_to">
        <th mat-header-cell *matHeaderCellDef> Assigned to </th>
        <td mat-cell *matCellDef="let element"> <pre>{{element.assigned_to | assignedToNames}}</pre></td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef> Priority </th>
            <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="tableHeaders"></tr>
        <tr mat-row *matRowDef="let row; columns: tableHeaders;"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="tableHeaders.length">
              No data matching the filter.
            </td>
        </tr>
    </table>

    <mat-paginator aria-label="Select page"></mat-paginator>
</div>